__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv
.env

trafic_data/
dataset/
*.cache

*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff

*.pt
*.pth
*.onnx
*.weights
*.h5
*.pkl

runs/
wandb/
mlruns/

.DS_Store
Thumbs.db

*.zip
*.tar.gz
*.rar
*.log
*.ipynb
.idea/
node_modules/